---
import Github from "../assets/Github.svg";
---

<footer class="mx-auto flex justify-between items-center px-4 sm:px-0 max-w-screen-sm py-5 w-full border-t border-zinc-200">
  <div>
    <p class="text-sm">
      pminimal basado en nim de <a
        href="https://github.com/ibelick/nim"
        class="text-blue-600 underline">Belick</a
      > © {new Date().getFullYear()}
    </p>
  </div>
  <div>
    <a
      aria-label="Go to Github"
      href="https://github.com/naissky">
      <Github class="text-gray-600 hover:scale-125 transition-all duration-200"/>
    </a>
  </div>
</footer>
