---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Naissky Portafolio Web</title>

    <meta name="twitter:card" content="summary_large_image" />
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Portafolio Minimalista, diseñado para presentar tus proyectos de manera elegante y profesional." />
    <meta
      name="keywords"
      content="portafolio, astro, tailwind, react, motion, javascript, html, css, web, diseño, desarrollo, frontend, backend, fullstack, web3, crypto, blockchain, bitcoin, ethereum, solana, terra, near, polkadot, kusama, substrate, parachain, defi, dapp, dapp"
    />
    <meta name="author" content="Naissky" />

    <meta property="og:title" content="Portafolio Minimalista" />
    <meta
      property="og:description"
      content="Portafolio Minimalista, diseñado para presentar tus proyectos de manera elegante y profesional."
    />
    <meta property="og:image" content="https://pminimal.vercel.app/" />
    <meta property="og:url" content="https://pminimal.vercel.app/" />
	<ClientRouter />
  </head>
  <body>
    <main class="container mx-auto px-4 sm:px-0 sm:max-w-screen-sm py-20 space-y-14">
		<Header />
		<slot />
	</main>
	<Footer />	
  </body>